@{
ViewData["Title"] = "Login";
}

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Username</label>
        <input type="text" class="form-control" name="email" required />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required />
    </div>
    <button type="submit" class="btn btn-dark w-100">Login</button>
</form>
@if (ViewBag.LoginError != null)
{
<div class="alert alert-danger mt-3">@ViewBag.LoginError</div>
}
