<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MerchShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" role="button" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/Futakuchi_Mana_Logo.png" alt="Mana Logo"  style="max-height: 50px" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Music" asp-action="Music">Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Shop">Shop</a>
                    </li>

                    @{
                        var role = Context.Session.GetString("Role");
                    }
                    @if (role == "Admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="AdminPanel">Admin Panel</a>
                        </li>
                    }

                </ul>
                <ul class="navbar-nav">
                    @if (role == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-muted px-1">/</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Registration">Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-1" href="#" id="navbarDropdownProfileMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; border: none;">
                                <img src="~/img/profile_icon.png" alt="ProfileIcon" height="30" style="border-radius: 50%; object-fit: cover;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end custom-dark-dropdown" aria-labelledby="navbarDropdownProfileMenuLink">
                                <li><a class="dropdown-item" asp-controller="Cart" asp-action="Index">Orders</a></li>
                                <li><a class="dropdown-item" asp-controller="Profile" asp-action="UserProfile">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-controller="Authentication" asp-action="Logout" method="post" class="d-inline">
                                        <button type="submit" class="dropdown-item" style="cursor: pointer;">Log Out</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer style="position: fixed; bottom: 0; width: 100%; background: #333; color: white; padding: 10px; text-align: center;">
    <div class="container">
        &copy; 2025 - MerchShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>